<div class="nav_wrapper">
  <img src="assets/images/zb-logo-full-white.png" alt="ZB Logo" class="nav_logo">
  <div class="nav_link-wrapper">
    <div id="link-home" class="nav_link">HOME</div>
    <div id="link-about" class="nav_link">ABOUT</div>
    <div id="link-work" class="nav_link">WORK</div>
    <div id="link-contact" class="nav_link">CONTACT</div>
    <div class="nav_active-underline"></div>
  </div>
  <div class="nav_language-container">中文</div>
</div>
<div class="mbl-nav_menu-container"></div>
<div class="mbl-nav_hamburger"></div>
<div class="mbl-nav_link-container hide">
  <div class="mbl-nav_link">HOME</div>
  <div class="mbl-nav_link">ABOUT</div>
  <div class="mbl-nav_link">WORK</div>
  <div class="mbl-nav_link">CONTACT</div>
  <div class="mbl-nav_zb-logo"></div>
</div>