.hide {
  display: none;
  transition: 1s ease-in-out;
}

@media (min-width: 751px) {
  .nav_wrapper {
    height: 100px;
    width: 100vw;
    background-color: $oxford-blue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mbl-nav_menu-container {
    display: none;
  }

  .nav_link-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
  }

  .nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $spring-wood;
    font-family: Lato-Hairline;
    flex-grow: 1;
    font-size: 15px;
  }

  #link-about:hover ~ .nav_active-underline {
    left: 25%;
    transition: .3s ease-in-out;
  }

  #link-work:hover ~ .nav_active-underline {
    left: 50%;
    transition: .3s ease-in-out;
  }

  #link-contact:hover ~ .nav_active-underline {
    left: 75%;
    transition: .3s ease-in-out;
  }

  .nav_language-container {
    height: 100%;
    width: calc(50% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $spring-wood;
    font-family: Lato-Hairline;
    font-size: 15px;
    transition: .3s linear;
    &:hover {
      background-color: $spring-wood;
      color: $oxford-blue;
      transition: .3s linear;
    }
  }

  .nav_active-underline {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 1px;
    width: 25%;
    background-color: $spring-wood;
    transition: .3s ease-in-out;
  }

  .nav_logo {
    position: absolute;
    left: 30px;
    height: 90px;
    width: 170px;
  }
}

@media screen and (max-width: 750px) {

  .nav_wrapper {
    display: none;
  }

  .mbl-nav_menu-container {
    display: block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: linear-gradient(135deg, $zima-blue 0%, white 200%);
    position: fixed;
    bottom: -62.5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .3s ease-in-out;
  }

  .mbl-nav_hamburger {
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: $spring-wood;
    position: fixed;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .3s ease-in-out;
    &::before {
      content: "";
      width: 50px;
      height: 5px;
      border-radius: 10px;
      background-color: $spring-wood;
      position: absolute;
      top: 12px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      transition: .3s ease-in-out;
    }
    &::after {
      content: "";
      width: 50px;
      height: 5px;
      border-radius: 10px;
      background-color: $spring-wood;
      position: absolute;
      top: 24px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      transition: .3s ease-in-out;
    }
  }

  .mbl-nav_cross {
    bottom: 30px;
    background: rgba(0,0,0,0);
    transition: .3s ease-in-out;
    &::before {
      top: 0;
      transform: translateX(-50%) rotate(135deg);
      transition: .3s ease-in-out;
    }
    &::after {
      top: 0;
      transform: translateX(-50%) rotate(-135deg);
      transition: .3s ease-in-out;
    }
  }

  .mbl-nav_menu-container-lg {
    position: fixed;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(15);
    transform: translateX(-50%) scale(15);
    transition: .3s ease-in-out;
  }

  .mbl-nav_link-container {
    position: fixed;
    top: 0;
    height: 80vh;
    width: 95vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mbl-nav_link {
    font-size: 50px;
    color: $spring-wood;
    font-family: Lato-Bold;
    transition: 1s ease-in-out;
    margin: 5% 0;
  }

  .mbl-nav_zb-logo {
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
    background-image: url('../images/zb-logo-white.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }

  .hide {
    display: none;
    transition: 1s ease-in-out;
  }
}